<div id="content">
    <form method="get" name="convert-form" id="convert-form" action="/convert">
        <input name="yturl" type="text" placeholder="https://youtube.com/watch?v=123ABC">
        <button type="submit" class="disabled">Convert</button>
    </form>
</div>
