<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form method="get" name="convert-form" id="convert-form" action="/convert">
    <input name="yturl" type="text" placeholder="http://some.url">
    <button type="submit">Convert</button>
</form>
